@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #c02400;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --nav-height: 72px;
}

body {
  color: var(--color-red);
  background: var(--color-lightred);
  font-smooth: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: var(--font-sans);
}

svg {
  shape-rendering: geometricPrecision;
  font-smooth: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }

  .grid-12-cols {
    @apply grid grid-cols-12 gap-2;
  }

  .masonry-layout {
    column-count: 4;
    column-gap: 1em;
  }

  @media (max-width: 1024px) {
    .masonry-layout {
      column-count: 3;
    }
  }

  @media (max-width: 768px) {
    .masonry-layout {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry-layout {
      column-count: 1;
    }
  }

  .break-inside-avoid {
    break-inside: avoid;
    margin-bottom: 1em;
  }
}

main > section {
  /* margin-top: var(--nav-height); */
}
